name: CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest

    env:
      BUILD_CONFIG: Release
      DOTNET_NOLOGO: true

    steps:
    - name: Checkout Repository
      uses: actions/checkout@v2

    # Initializes the CodeQL tools for scanning.
    - name: Initialize CodeQL
      uses: github/codeql-action/init@v1
      with:
        languages: csharp

    - name: Install .NET Core SDK
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: 5.0.x

    - name: Restore Dependencies
      run: dotnet restore

    # Compiles and correlate generated assemblies with the commit.
    - name: Build
      run: dotnet build --configuration ${{ env.BUILD_CONFIG }} --no-restore /p:SourceRevisionId=${{ github.sha }}

    # Run tests (unit, integration and fuctional tests) 
    # Creates coverage report.
    - name: Test
      run: dotnet test --configuration ${{ env.BUILD_CONFIG }} --no-build --verbosity normal

    - name: Perform CodeQL Analysis
      uses: github/codeql-action/analyze@v1

    # Publishes build artifacts for later use.
    - name: Publish
      run: dotnet publish --configuration ${{ env.BUILD_CONFIG }} --no-build --output ${{ github.workspace }}/artifact

    - name: Upload Artifact
      uses: actions/upload-artifact@v2.2.2
      with:  
        name: WebApp
        path: ${{ github.workspace }}/artifact/**/*
        if-no-files-found: error
          # Duration after which artifact will expire in days. 0 means using default retention.
          # Minimum 1 day. Maximum 90 days unless changed from the repository settings page.
        retention-days: 0
